.tab {
background-color:rgb(92, 92, 181);
color: white;
cursor: pointer;
}

.selected {
    background-color: rgb(98, 98, 148) !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 8px; 
  }
  
  .grid-item {
    padding: 8px; 
  }

.tab-container {
    padding: 50px;
    border: 1px solid black;
}