<div class="grid-container">

  <div [class.selected]="tab.id == selectedID" class="tab grid-item" *ngFor="let tab of tabs; trackById"  >
   <div (click)="handleSelect(tab)" style="margin-left: 10px;"> {{tab.title}} ({{tab.id}}) <span class="close" (click)="handleRemove(tab)" style="color:white !important">X</span> </div>
  </div>
</div>
<div class="row tab-container" >


    <!--  Now i can add as many tab html templates that i want and even whole components if i wish   -->
    <app-tab-templates [(tabData)]="tabData" [(tabType)]="selectedTab" ></app-tab-templates>


    
</div>
