.tab {
background-color:rgb(71, 71, 237);
color: white;
}

.selected {
    background-color: rgb(110, 110, 255) !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates three columns of equal width */
    gap: 8px; /* Optional: Adjust based on your needs */
  }
  
  .grid-item {
    /* Styling for your items */
    padding: 8px; /* Optional: Adjust based on your needs */
  }